* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#navigation {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 15px;
    background-color: rgb(30,30,30);
    border-style: solid;
    border-width: 0;
    border-bottom-width: thick;
    border-color: rgb(100, 100, 100);
}

#navigation a {
    color: rgb(179, 138, 255);
    background-color: rgb(37, 14, 37);
    text-decoration: none;
    padding: 7px;
    margin: 2px;
    transition: color 0.3s, background-color 0.85s, border-color 3s;
    border-style: solid;
    border-color: rgb(7, 0, 10);
}

#navigation a:hover {
    color: rgb(255, 255, 255);;
    background-color: rgb(71, 7, 145);
    border-color: rgb(132, 0, 255);
}

#backgroundvideo {
    z-index: -1;
    height: 180%;
    position: fixed;
    object-fit: cover;
}

#videosource {
    position: fixed;
    width: 100%;
    padding: 20px;
    bottom: 0;
    background-color: rgb(30,30,30);
    border-style: solid;
    border-width: 0;
    border-top-width: thick;
    border-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
}

#videosource a {
    color: rgb(179, 138, 255);
}